<!-- About Section -->
<p class="image-gallery">

</p>


<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>History</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class= "row">
            <div class="col-lg-offset-1 col-lg-10 text-justify">
                <p>{{ page.history }}</p>
                <div id="carousel-history" class="carousel slide" data-ride="carousel">
                <hr class="star-light">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    {% assign wrong = 0 %}
                    {% for fileInd in site.static_files %}
                      {% if fileInd.path contains include.folder %}
                        {% if fileInd.extname == '.jpg' or fileInd.extname == '.jpeg' or fileInd.extname == '.JPG' or fileInd.extname == '.JPEG' %}
                        {% assign index = forloop.index0 | minus: wrong %}
                         <li data-target="#carousel-history" data-slide-to="{{index}}" class="{% if index == 0 %}active{% endif %}"></li>
                        {% else %}
                          {% assign wrong = wrong | plus: 1 %}
                        {% endif %}
                      {% else %}
                        {% assign wrong = wrong | plus: 1 %}
                      {% endif %}
                    {% endfor %}




                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    {% assign wrong = 0 %}
                    {% for file in site.static_files %}
                      {% if file.path contains include.folder %}
                        {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
                          {% assign filenameparts = file.path | split: "/" %}
                          {% assign filename = filenameparts | last  %}
                          {% assign index = forloop.index0 | minus: wrong %}
                            <div class="item {% if index == 0 %}active{%endif%}">
                              <img src="img/slider/{{filename}}" alt="...">
                              <div class="carousel-caption">
                                Practical master class
                              </div>
                            </div>

                              {% else %}
                                {% assign wrong = wrong | plus: 1 %}
                              {% endif %}
                            {% else %}
                              {% assign wrong = wrong | plus: 1 %}
                            {% endif %}
                          {% endfor %}

                  </div>

                  <!--
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a> Controls -->
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>
