<!-- Contact Section -->

<div class="container" id="bf" style="">
  <div class="row">
    <div class="col-md-12">
	    <h2 textalign="center">Welcome to registration</h2>
      <form class="needs-validation" novalidate name="submit-to-google-sheet">
        <div class="form-row">
          <div class="col-md-4 mb-4">
            <label for="validationCustom01">Email</label>
            <input class="form-control" name="email" type="email" placeholder="Email" required>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <label for="validationCustom01">First name</label>
          <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="" name="First name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <label for="validationCustom02">Second name</label>
          <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="" name="Second name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="row">
          <div class='col-sm-3'>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" name="Date of birth" placeholder="Date of birth" required />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Gender" placeholder="Gender" id="gridRadios1" value="Female" checked>
              <label class="form-check-label" for="gridRadios1">
                Female
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Gender" placeholder="Gender" id="gridRadios2" value="Male">
              <label class="form-check-label" for="gridRadios2">
                Male
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Title</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Title" placeholder="Title" id="gridRadio1" value="Ms." checked>
              <label class="form-check-label" for="gridRadio1">
                Ms.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Title" placeholder="Title" id="gridRadio2" value="Mrs.">
              <label class="form-check-label" for="gridRadio2">
                Mrs.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Title" placeholder="Title" id="gridRadio3" value="Mr.">
              <label class="form-check-label" for="gridRadio3">
                Mr.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Title" placeholder="Title" id="gridRadio4" value="Dr.">
              <label class="form-check-label" for="gridRadio4">
                Dr.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Title" placeholder="Title" id="gridRadio5" value="Prof.">
              <label class="form-check-label" for="gridRadio4">
                Prof.
              </label>
            </div>
          </div>
        </div>
      </fieldset>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom05">City</label>
        <input type="text" class="form-control" id="validationCustom05" placeholder="City"  name="City" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom06">Country</label>
        <input type="text" class="form-control" id="validationCustom06" placeholder="Country" name="Country" required>
        <div class="invalid-feedback">
          Please provide a valid Country.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom07">Affilation</label>
        <input type="text" class="form-control" id="validationCustom06" placeholder="Affilation" name="Affilation" required>
        <div class="invalid-feedback">
          Please provide a valid Affilation.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom08">Position</label>
        <input type="text" class="form-control" id="validationCustom08" placeholder="Position" name="Position" required>
        <div class="invalid-feedback">
          Please provide a valid Position.
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <input type="text" class="form-control" id="iabout" placeholder="About me" name="About me" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <button  class="btn btn-primary btn-lg" type="submit">Send</button>
        </div>
      </div>
    </form>
</div>
</div>
</div>
</div>

<section id="contact">
<div id="gf">
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf7TOjt2L7M5kh9XmNNnAAFvaWI_dL6II3RKee2xaQQrpsjnw/viewform?embedded=true" width="100%" height="2700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
</section>



</section>	  
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycby4PSWtACytaYTUcZpFVCocN3JLOdQcvo54MhHXoHtT8QEIATc/exec'
  const form = document.forms['submit-to-google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => console.log('Success!', response))
      .catch(error => console.error('Error!', error.message))
  })
</script>
<!--
<script>
 $(function () {
   var bindDatePicker = function() {
		$(".date").datetimepicker({
        format:'YYYY-MM-DD',
			icons: {
				time: "fa fa-clock-o",
				date: "fa fa-calendar",
				up: "fa fa-arrow-up",
				down: "fa fa-arrow-down"
			}
		}).find('input:first').on("blur",function () {
			// check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
			// update the format if it's yyyy-mm-dd
			var date = parseDate($(this).val());

			if (! isValidDate(date)) {
				//create date based on momentjs (we have that)
				date = moment().format('YYYY-MM-DD');
			}

			$(this).val(date);
		});
	}
   
  var isValidDate = function(value, format) {
		format = format || false;
		// lets parse the date to the best of our knowledge
		if (format) {
			value = parseDate(value);
		}

		var timestamp = Date.parse(value);

		return isNaN(timestamp) == false;
   }
   
   var parseDate = function(value) {
		var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
		if (m)
			value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);

		return value;
   }
   
   bindDatePicker();
 });	
	
</script>
-->
<script type="text/javascript">
$.get("http://ipinfo.io", function (response) {
  // the "data" object contains the info
  if (response.country == 'CN') {
     $("#gf").hide()
  } else {
	  $("#bf").hide()
    // Load your google fonts
  }
}, function(err) {
  // the "err" object contains useful information in case of an error
});
</script>

