    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.location }}</h3>
                        <p>
                            {% for adress in site.address %}
                                {{ adress.line }} <br>
		                    {% endfor %}
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contacts</h3>
                        <ul class="list-inline">
                            
                            	<li>Dr Elvira Dovletyarova (RUDN)</li>
				<li><address><a href="mailto:Dovletyarova_ea@rudn.university">Dovletyarova_ea@rudn.university</a></address></li>
				<li>Dr Viacheslav Vasenev (RUDN)</li>
				<li><address><a href="mailto:Vasenev_vi@rudn.university">Vasenev_vi@rudn.university</a></address></li>
				<li>MSc Anna Paltseva (USI)</li>
				<li><address><a href="mailto:anyapaltseva@gmail.com">anyapaltseva@gmail.com</a></address></li>
                               </a>
                            </li>
		                    
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Coordinator of the Summer school (registration and travel services):</h3>
			    <ul class="list-inline">
				<li><address>Phone: +7 495 943-60-60</address></p>
			    	<li><address>Mob.: +7 985 960-12-09</address></p>
			    	<li>Stegalin Stanislav</p>
			    	<li><address><a href="mailtostas@mesol.ru">stas@mesol.ru</a></address></li>
			    </ul>
			    
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
	
