    <!-- Header -->
    <header class="intro-back">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        
                        
                    </div>
                    <br>
                    <img class="img-responsive" src="img/3mugis_logo.svg" alt="" width="300px">
                    <br>
                    <div class="intro-text">
                        <span class="name">INTERNATIONAL SUMMER FIELD SCHOOL</span>
                        <p><span class="skills"><q>ANTHROPOGENIC AND NATURAL SOIL LANDSCAPES IN EUROPEAN RUSSIA: FROM SEA TO SEA</q></span></p>
                        <span class="skills"><q>Monitoring, modeling and managing urban soils and green infrastructure</q></span>
                        <hr class="star-light">
                        <span class="skills">{{ site.intro }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
