    <!-- Header -->
<header class="intro-back">
    <div id="background-carousel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active" style="background-image:url(http://3mugis.org/img/front/F1.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F2.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F3.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F4.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F5.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F6.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F10.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F13.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F14.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F15.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F19.jpg)"></div>
            <div class="item" style="background-image:url(http://3mugis.org/img/front/F20.jpg)"></div>
          </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">
                        <img src="img/white_logo_nobg_200px.png" style="margin-bottom:0px">
                    </div>
                    <div class="intro-text">
                        <span class="name" style="font-size:47px">INTERNATIONAL ONLINE SUMMER SCHOOL</span>
                        <p><span ><q style="font-size:22px">ANTHROPOGENIC AND NATURAL SOIL LANDSCAPES IN EUROPEAN RUSSIA: FROM
SEA TO SEA</q></span></p>
                        <span class="skills">July 26 – August 2, 2021 </br> Registration is open</span>
                        <p></p>
                        <p><a class="btn btn-danger btn-lg" href="https://github.com/erasmus-rudn/erasmus-rudn.github.io/raw/master/3MUGIS_program_2021.pdf" target=new>SCHOOL PROGRAM</a></p>
                    </div>
                </div>
            </div>
        </div>
</header>
