    <!-- Header -->
    <header class="intro-back">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <span class="name">Summer School</span>
                        
                    </div>
                    <br>
                    <img class="img-responsive" src="img/rudn_logo3.svg" alt="" width="300px">
                    <br>
                    <div class="intro-text">
                        <span class="skills"><q>Monitoring, Modeling and Managing Urban Soils</q></span>
                        <hr class="star-light">
                        <span class="skills">{{ site.intro }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>