<section class="success" id="history">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>History</h2>
                <hr class="star-light">
            </div>
<iframe style="position: relative; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/184386536@N05/albums/72157710835487923&sort=2&by=album&theme=compact_right&scale=fill&speed=5000&limit=50&skin=default&autoplay=true" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Finding a Scotts <a  href="https://www.codeguesser.co.uk/scottsmenswear.com">clothing discount code</a></p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
      </div>
    </div>
</section>
