<section class="success" id="history">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>History</h2>
                <hr class="star-light">
                  <p>For the first time, the school was organized in Moscow ahead of the SUITMA
  9 international congress in May 2017 and attracted students and speakers from 12
  countries.  According to the SUITMA (Soils of urban, industrial, traffic, mining
  and military areas) - the professional community of urban soil scientist - this
  was the first some school, addressing an issue of urban soils at a broad content
  and at the international level</p>

                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#north" aria-controls="home" role="tab" data-toggle="tab">North of Russia</a></li>
                  <li role="presentation" ><a href="#tver" aria-controls="home" role="tab" data-toggle="tab">Tver</a></li>
                  <li role="presentation"><a href="#moscow" aria-controls="profile" role="tab" data-toggle="tab">Moscow</a></li>
                  <li role="presentation"><a href="#kursk" aria-controls="messages" role="tab" data-toggle="tab">Kursk</a></li>
                  <li role="presentation"><a href="#rostov" aria-controls="settings" role="tab" data-toggle="tab">Rostov</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="north">
                            <iframe style="position: relative; top: 0; left: 0; width: 100%; height: 600px;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/184386536@N05/albums/72157710835017253&sort=2&by=album&theme=compact_right&scale=fill&speed=5000&limit=50&skin=default&autoplay=true" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Finding a Scotts <a  href="https://www.codeguesser.co.uk/scottsmenswear.com">clothing discount code</a></p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
                  </div>
                  <div role="tabpanel" class="tab-pane active" id="tver">
                              <iframe style="position: relative; top: 0; left: 0; width: 100%; height: 600px;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/184386536@N05/albums/72157710835017253&sort=2&by=album&theme=compact_right&scale=fill&speed=5000&limit=50&skin=default&autoplay=true" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Finding a Scotts <a  href="https://www.codeguesser.co.uk/scottsmenswear.com">clothing discount code</a></p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
                  </div>
                  <div role="tabpanel" class="tab-pane active" id="moscow">
                                <iframe style="position: relative; top: 0; left: 0; width: 100%; height: 600px;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/184386536@N05/albums/72157710835027446&sort=2&by=album&theme=compact_right&scale=fill&speed=5000&limit=50&skin=default&autoplay=true" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Finding a Scotts <a  href="https://www.codeguesser.co.uk/scottsmenswear.com">clothing discount code</a></p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="kursk">
                                  <iframe style="position: relative; top: 0; left: 0; width: 100%; height: 600px;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/184386536@N05/albums/72157710836092771&sort=2&by=album&theme=compact_right&scale=fill&speed=5000&limit=50&skin=default&autoplay=true" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Finding a Scotts <a  href="https://www.codeguesser.co.uk/scottsmenswear.com">clothing discount code</a></p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="rostov">
                                    <iframe style="position: relative; top: 0; left: 0; width: 100%; height: 600px;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/184386536@N05/albums/72157710836248176&sort=2&by=album&theme=compact_right&scale=fill&speed=5000&limit=50&skin=default&autoplay=true" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Finding a Scotts <a  href="https://www.codeguesser.co.uk/scottsmenswear.com">clothing discount code</a></p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>

                  </div>
                  <div role="tabpanel" class="tab-pane" id="settings">
                                    <iframe style="position: relative; top: 0; left: 0; width: 100%; height: 600px;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/184386536@N05/albums/72157710835487923&sort=2&by=album&theme=compact_right&scale=fill&speed=5000&limit=50&skin=default&autoplay=true" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Finding a Scotts <a  href="https://www.codeguesser.co.uk/scottsmenswear.com">clothing discount code</a></p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
                  </div>
                </div>


            </div>

      </div>
    </div>
</section>
