    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What is 3MUGIS?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 text-justify">
                    <p>The 3MUGIS summer school is an annual event, which addresses current environmental consequences and opportunities of urbanization with special emphasis on 
                        soil functions. The event is organized under the umbrella of the International Union of Soil Science (IUSS), RUDN University (Russia) and the Urban Soil Institute (USA) 
                        with strong cooperation from universities, institutions and research teams from around the world.</p>
                    <!--<p>The 3MUGIS summer school is an annual event, which addresses relevant contemporary environmental consequences and opportunities of urbanization with special emphasis on
soil functions. The event is organized under the umbrella of the International Union of Soil Science (IUSS), RUDN University (Russia) and the Urban Soil Institute (USA) with strong
cooperation from universities, institutions and research teams from around the world.</p>
                    <p>The 3MUGIS summer school provides students with first hand field experience examining anthropogenic impact sequences across conventional soil forming factors from Sub-artic to
Dry steppe climates. At the end of the program, students will better understand the social, climactic, and geographic factors that contribute to human soil modification in this region;
the long-term implications of such changes; practical skills to perform in-field soil monitoring, soil mapping and remote sensing; and applied skills in identifying, implementing, and managing opportunities for urban green infrastructure development.</p>-->
                </div>
            </div>
        </div>
    </section>
