<div class="field-block-content">
    <h2 style="padding:1em 0em; text-align:center"><u>Lectors</u></h2> 
<div style="text-align:left">
  <div class="container">
    <div clas="row">
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Elvira Dovletyarova" title="Elvira Dovletyarova" class="key-img" data-delta="2" src="img/lectors/image5.jpeg" ></div></p>
        <h3>Elvira Dovletyarova</h3>
        <div class="k-note-descr">
          Department of Landscape design and sustainable ecosystems, RUND University (Russia)<br>
          e-mail: elvira_2779@mail.ru
        </div>
      </div>
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Tatiana Morin" title="Tatiana Morin" class="key-img" data-delta="2" src="img/lectors/image6.jpeg" ></div></p>
        <h3>Tatiana Morin</h3>
        <div class="k-note-descr">
          NYC Urban Soil Institute (USA)<br>
          e-mail: tatiana@usi.nyc
        </div>
       </div> 

      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr. Viacheslav Vasenev" title="Dr. Viacheslav Vasenev" class="key-img" data-delta="2" src="img/lectors/image7.jpeg" ></div></p>
        <h3>Dr. Viacheslav Vasenev</h3>
        <div class="k-note-descr">
        Department of
        Landscape design and sustainable ecosystems, RUND University (Russia)<br>
        e-mail: vasenyov@mail.ru
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div clas="row">
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Tatiana Prokofieva " title="Tatiana Prokofieva " class="key-img" data-delta="2" src="img/lectors/image8.jpeg" ></div></p>
        <h3>Tatiana Prokofieva </h3>
        <div class="k-note-descr">
          Associate Professor
          LMSU, Soil Science faculty<br>
          e-mail: tatianaprokofieva@yandex.ru
        </div>
        </div>

      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Richard Shaw" title="Richard Shaw" class="key-img" data-delta="2" src="https://britz.mcmaster.ca/images/nouserimage.gif/image" ></div></p>
        <h3>Richard Shaw</h3>
        <div class="k-note-descr">
         State Soil Scientist
          USDA-Natural Resources Conservation Service (USA) <br>
          e-mail: richard.shaw@nj.usda.gov  
        </div>
      </div>

      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Prof. Jean Louis Morel" title="Prof. Jean Louis Morel" class="key-img" data-delta="2" src="img/lectors/image9.jpeg" ></div></p>
        <h3>Prof. Jean Louis Morel</h3>
        <div class="k-note-descr">
          Laboratory of Soils and Environment Université de Lorraine (France) <br>
          e-mail: jean-louis.morel@univ-lorraine.fr
        </div>
      </div>
    </div>
  </div>
    <div class="container">
    <div clas="row">
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Prof. Andrey Smagin" title="Prof. Andrey Smagin" class="key-img" data-delta="2" src="img/lectors/image10.jpeg" ></div></p>
        <h3>Prof. Andrey Smagin</h3>
        <div class="k-note-descr">
        Soil Science Faculty LMSU (Moscow, Russia) <br>
        e-mail: smagin@list.ru
        </div>
      </div>

      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr. Maha Deep" title="Dr. Maha Deep" class="key-img" data-delta="2" src="img/lectors/image11.jpeg" ></div></p>
        <h3>Dr. Maha Deep</h3>
        <div class="k-note-descr">
          Department of Earth and Environmental Sciences
          City University of New York - Brooklyn College, CUNY (USA) <br>
          e-mail: mahadeeb.y@gmail.com,
          Maha.Deeb@brooklyn.cuny.edu
        </div>
      </div>

      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr. Thomas Nehls" title="Dr. Thomas Nehls" class="key-img" data-delta="2" src="img/lectors/image12.png" ></div></p>
        <h3>Dr. Thomas Nehls</h3>
        <div class="k-note-descr">
          Head of the Soil Hydrology Lab <br>
          Head of Center for Innovation and Science on Building Greening (CIBG) <br>
          Technische Universität Berlin FG Ecohydrology and Landscape Evaluation
          Institute of Ecology (Germany) <br>
          e-mail:thomas.nehls@tu-berlin.de
        </div>
      </div>
  </div>
</div>
  <div class="container">
    <div clas="row">
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr. Diego Giuliarelli" title="Dr. Diego Giuliarelli" class="key-img" data-delta="2" src="https://britz.mcmaster.ca/images/nouserimage.gif/image" ></div></p>
        <h3>Dr. Diego Giuliarelli</h3>
        <div class="k-note-descr">
          Department of Innovation of Biological Systems, Food and Forestry DIBAF
          Tuscia University (Italy)   <br>

          e-mail:dgiuliarelli@unitus.it

        </div>
      </div>

      <div class="col-md-4">
        <p><div class="profile-picture"><img alt=" Irina Veretelnikova" title=" Irina Veretelnikova" class="key-img" data-delta="2" src="img/lectors/image13.jpeg" ></div></p>
        <h3> Irina Veretelnikova</h3>
        <div class="k-note-descr">
            Department of ecology
            RSAU-MTAA named after K.A. Timiryazev <br>
            Department of Landscape design and sustainable ecosystems, RUND University (Russia) <br>
            e-mail: veretelnikovaomsk@yandex.ru

        </div>
      </div>


      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr. Michael Leuchner" title="Dr. Michael Leuchner" class="key-img" data-delta="2" src="img/lectors/image14.jpeg" ></div></p>
        <h3>Dr. Michael Leuchner</h3>
        <div class="k-note-descr">
          Springer Publishing Editor <br>
          Physical Geography, Climate, Economic Geography, Historical Geography & World Regional Geography <br>
          Springer Dordrecht <br>
          e-mail: michael.leuchner@springer.com
        </div>
      </div>
    </div>
  </div>
    <div class="container">
    <div clas="row">
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Prof. Riccardo Valentini" title="Prof. Riccardo Valentini" class="key-img" data-delta="2" src="img/lectors/image15.jpeg" ></div></p>
        <h3>Prof. Riccardo Valentini</h3>
        <div class="k-note-descr">
          Tuscia University (Italy) <br>
          RUDN University (Russia) <br>
          Peace Noble Prize Laureate as a member of IPCC <br>
          e-mail: rik@unitus.it
        </div>
      </div>

      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Ilya Mochalov" title="Ilya Mochalov" class="key-img" data-delta="2" src="img/lectors/image16.jpeg" ></div></p>
        <h3>Ilya Mochalov</h3>
        <div class="k-note-descr">
            Landscape architect, <br>
            General manager of  ‘I.Mochalov design studio’ (Russia) <br>
            e-mail: mail@imip.ru
        </div>
      </div>

      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Giovanna Sala" title="Giovanna Sala" class="key-img" data-delta="2" src="img/lectors/image17.jpeg" ></div></p>
        <h3>Giovanna Sala</h3>
        <div class="k-note-descr">
          UNIPA <br>
          Dipartimento di Scienze Agrarie e Forestali (SAF) <br>
          Università degli Studi di Palermo (Italy) <br>
          e-mail:giovanna.sala@yahoo.it
        </div>
      </div>
    </div>
  </div>
    <div class="container">
    <div clas="row">
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr. Luca Belelli" title="Dr. Luca Belelli" class="key-img" data-delta="2" src="img/lectors/image18.jpeg" ></div></p>
        <h3>Dr. Luca Belelli</h3>
        <div class="k-note-descr">
          The Edmund Mach Foundation (Italy) <br>
          e-mail: luca.belelli@libero.it
        </div>
      </div>

      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Alex Yaroslavtsev" title="Alex Yaroslavtsev" class="key-img" data-delta="2" src="img/lectors/image19.jpeg" ></div></p>
        <h3>Alex Yaroslavtsev</h3>
        <div class="k-note-descr">
          Department of ecology RSAU-MTAA named after K.A. Timiryazev (Russia) <br>
          e-mail: yaroslavtsevam@gmail.com
        </div>
      </div>


      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Andrea Vannini" title="Andrea Vannini" class="key-img" data-delta="2" src="img/lectors/image20.jpeg" ></div></p>
        <h3>Andrea Vannini</h3>
        <div class="k-note-descr">
          Department of Innovation of Biological Systems, Food and Forestry DIBAF <br>
          Tuscia University (Italy) <br> 
          e-mail: vannini@unitus.it
        </div>
      </div>
      </div>
    </div>
      <div class="container">
      <div clas="row">
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr. Olga Gavrichkova" title="Dr. Olga Gavrichkova" class="key-img" data-delta="2" src="img/lectors/image21.jpeg" ></div></p>
        <h3>Dr. Olga Gavrichkova</h3>
        <div class="k-note-descr">
          Institute of Agro-Environmental & Forest Biology (IBAF) <br>
          National Research Council (CNR) (Italy) <br>
          e-mail: olga.gavrichkova@ibaf.cnr.it
        </div>
      </div>

      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr. Andrey Dolgikh" title="Dr. Andrey Dolgikh" class="key-img" data-delta="2" src="img/lectors/image22.jpeg" ></div></p>
        <h3>Dr. Andrey Dolgikh</h3>
        <div class="k-note-descr">
          Geography Institute <br>
          Russian Academy Science (Russia) <br>
          e-mail: an.dolgikh@gmail.com
        </div>
      </div>


            <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Prof. Harold Van Es" title="Prof. Harold Van Es" class="key-img" data-delta="2" src="img/lectors/image23.jpeg" ></div></p>
        <h3>Prof. Harold Van Es</h3>
        <div class="k-note-descr">
          School of Integrative Plant Science <br>
          Soil and Crop Sciences Section <br>
          College of Agriculture and Life Science <br> 
          Cornell University (USA) <br>
          email: hmv1@cornell.edu
        </div>
      </div>
    </div>
  </div>
    <div class="container">
    <div clas="row">
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Kuzyakov" title="Kuzyakov" class="key-img" data-delta="2" src="img/lectors/image24.jpeg" width="250" height="181"></div></p>
        <h3>Prof. Yakov Kuzyakov</h3><br>
        <div class="k-note-descr">
            Georg-August University Goettingen (Germany) <br>
            RUDN University (Russia) <br>
            e-mail kuzyakov@gwdg.de
        </div>
      </div>


       <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr Kristina Ivashchenko" title="Dr Kristina Ivashchenko" class="key-img" data-delta="2" src="img/lectors/image25.jpeg" ></div></p>
        <h3>Dr Kristina Ivashchenko</h3>
        <div class="k-note-descr">
          Institute of physico-chemical and biological problems in soil science Russian Academy Science <br> 
          Department of Landscape design and sustainable ecosystems, RUND University (Russia) <br>
          e-mail: ivashchenko.kv@gmail.com
        </div>
      </div>


      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr. Jack Caravanos" title="Dr. Jack Caravanos" class="key-img" data-delta="2" src="img/lectors/image26.jpeg" ></div></p>
        <h3>Dr. Jack Caravanos</h3>
        <div class="k-note-descr">
          Clinical Professor of NUY – College of Global Public Health (USA) <br>
          e-mail: jcaravan@hunter.cuny.edu
        </div>
      </div>
    </div>
  </div>
    <div class="container">
    <div clas="row">
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Prof. Zhongqi CHENG" title="Prof. Zhongqi CHENG" class="key-img" data-delta="2" src="img/lectors/image27.jpeg" ></div></p>
        <h3>Prof. Zhongqi CHENG</h3>
        <div class="k-note-descr">
          Earth and Environmental Sciences Brooklyn College of The City University of New York (USA) <br>
          e-mail: zcheng@ brooklyn.cuny.edu
        </div>
      </div>


      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Howard W Mielke" title="Howard W Mielke" class="key-img" data-delta="2" src="img/lectors/image28.jpeg" ></div></p>
        <h3>Elvira Dovletyarova</h3>
        <div class="k-note-descr">
            Research Professor Tulane University (USA) <br>
            e-mail: hmielke@tulane.edu
        </div>
      </div>


      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Anya Paltseva" title="Anya Paltseva" class="key-img" data-delta="2" src="img/lectors/image29.jpeg" ></div></p>
        <h3>Anya Paltseva</h3>
        <div class="k-note-descr">
            Department of Earth and Environmental Sciences Graduate Center of The City University of New York NYC Urban Soil Institute (USA)  <br>
            e-mail: anyapaltseva@gmail.com
        </div>
      </div>
    </div>
  </div>
    <div class="container">
    <div clas="row">
      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Olga Romzaykina" title="Olga Romzaykina" class="key-img" data-delta="2" src="img/lectors/image30.jpeg" ></div></p>
        <h3>Olga Romzaykina</h3>
        <div class="k-note-descr">
          Department of Landscape design and sustainable ecosystems, RUND University (Russia) <br>
          e-mail: olrom92@mail.ru
        </div>
      </div>


      <div class="col-md-4">
        <p><div class="profile-picture"><img alt="Dr. Pavel Konstantinov" title="Dr. Pavel Konstantinov" class="key-img" data-delta="2" src="img/lectors/image31.jpeg" ></div></p>
        <h3>Dr. Pavel Konstantinov</h3>
        <div class="k-note-descr">
            Geography Faculty Meteorological observatory Lomonosov Moscow State University (Russia) <br>
            e-mail: kostadini@mail.ru
        </div>
      </div>

    </div>

  </div>
</div>
</div>


