<div class="field-block-content">
    <h4 style="padding:1em 0em; text-align:center"><u>Key notes</u></h4> 
<div style="text-align:left">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><img alt="Lal" class="key-img" data-delta="2" title="" src="http://ssc-conf.org/sites/ssc-conf.org/files/image1_.jpg" width="400" height="428"></p>
        <h3>Prof. Rattan Lal</h3>
        <div class="k-note-descr">Director, Carbon Management and Sequestration Center <br>
          President, International Union of Soil Sciences<br>
          Nobel Prize Laureate for Peace as the IPCC member <br>
        </div>
      </div>
      <div class="col-md-6">
        <p><img alt="Valentini" class="key-img" data-delta="2" title="" src="http://ssc-conf.org/sites/ssc-conf.org/files/image2_.jpg" width="862" height="590"></p>
        <h3>Prof. Riccardo Valentini</h3>
        <div class="k-note-descr">Director of the Division “Impacts on Agriculture, Forest and <br>Natural Ecosystems” in the CMCC <br>
          Nobel Prize Laureate for Peace as the IPCC member <br>
          Senator of Lazio Region <br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div clas="row">
      <div class="col-md-3">
        <p><img alt="Kasimov" title="Kasimov" class="key-img" data-delta="2" src="http://ssc-conf.org/sites/ssc-conf.org/files/image3_.jpg" width="393" height="500"></p>
        <h3>Prof. Nikolay Sergeevich Kasimov</h3>
        <div class="k-note-descr">
          Deputy-chair of Russian Geographical Society  <br>
          President of Geography Faculty of Lomonosov <br> Moscow State University
        </div>
      </div>
      <div class="col-md-3">
        <p><img alt="Kuzyakov" title="Kuzyakov" class="key-img" data-delta="2" src="http://ssc-conf.org/sites/ssc-conf.org/files/image4_.jpg" width="250" height="181"></p>
        <h3>Prof. Yakov Kuzyakov</h3><br>
        <div class="k-note-descr">
          Head of the Center of Modeling and Projecting <br> Sustainable Ecosystems <br>
          RUDN University
        </div>
      </div>
      <div class="col-md-3">
        <p><img alt="Nabokin" title="Nabokin" class="key-img" data-delta="2" src="http://ssc-conf.org/sites/ssc-conf.org/files/image5_.jpg" width="250" height="314"></p>
        <h3>Dmitrii Vladimirovich Nabokin</h3>
        <div class="k-note-descr">
          Prefect of the Troitskii and Novomoskovskii <br> districts of Moscow (New Moscow)
        </div>
      </div>
      <div class="col-md-3">
        <p><img alt="Gould" title="Gould" class="key-img" data-delta="2" src="http://ssc-conf.org/sites/ssc-conf.org/files/image6_.jpg" width="200" height="200"></p>
        <h3>Prof. Kenneth A. Gould</h3>
        <div class="k-note-descr">
          Earth &amp; Environmental Sciences <br>
          City University of New York
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div clas="row">
      <div class="col-md-3">
        <p><img alt="Calfapietro" title="Calfapietro" class="key-img" data-delta="2" src="http://ssc-conf.org/sites/ssc-conf.org/files/image7_.jpg" width="180" height="250"></p>
        <h3>Dr. Carlo Calfapietra</h3>
        <div class="k-note-descr">
          Leading research in the Institute of <br>
          Agro-Environmental &amp; Forest Biology (CNR)
        </div>
      </div>
      <div class="col-md-3">
        <p><img alt="Leemans" title="Leemans" class="key-img" data-delta="2" src="http://ssc-conf.org/sites/ssc-conf.org/files/image8_.jpg" width="200" height="200"></p>
        <h3>Prof Rik Leemans</h3>
        <div class="k-note-descr">
          Head of Environmental System Analysis in <br> Wageningen University <br>
          Nobel Prize Laureate for Peace as the IPCC member
        </div>
      </div>
      <div class="col-md-3">
        <p><img alt="Morel" title="Morel" class="key-img" data-delta="2" src="http://ssc-conf.org/sites/ssc-conf.org/files/image9_.jpg" width="300" height="300"></p>
        <h3>Prof Jean Louis Morel</h3>
        <div class="k-note-descr">
          University of Lorraine
        </div>
      </div>
      <div class="col-md-3">
        <p><img alt="Cui" title="Cui" class="key-img" data-delta="3" src="http://ssc-conf.org/sites/ssc-conf.org/files/image10_.jpg" width="225" height="225"></p>
        <h3>Prof Shenghui Cui</h3>
        <div class="k-note-descr">
          The Institute of Urban Environment  <br>
          Chinese Academy of Sciences
        </div>
      </div>
    </div>
  </div>
</div>  </div>
