<!-- Contact Section -->
<section id="payments">
<div class="container">
<div class="row">
<div class="col-lg-12 ">
<h2 align="center">Payments</h2>
<hr class="star-primary">
<p>The beneficiary of all payments is MESOL LLC – the official Conference operator.</p>
<div class="col-md-7">
<p>To make a payment of the registration fee and for the ordered services please choose one on the following kinds of payment:</p>
 <ol>
   <li> Payment by an invoice – MESOL LLC will send you an invoice for the chosen services. All possible bank commissions, fees or other charges are to be fully paid by participant. If any commissions, fees or other charges are passed to MESOL LLC, participant will be required to compensate MESOL LLC for them.
</li>
   <li> Payment by credit card – for online payment please use the <a href="#portfolioModal-233" class="portfolio-link" data-toggle="modal">
link - payment by credit card<a>. In case of payment by the credit card with foreign currency (not rubles) the sum will be convert to Russian rubles at the rate of emitting bank (the bank which issued the credit card). Operation of withdrawing from the Customer's credit card is carrying out in rubles.
</li>
 </ol>
 </div> 
<div class="col-md-offset-2 col-md-3">
<p>Company details:</p> 
<dl>
   <dd >Beneficiary:</dd><dt> MESOL LLC</dt>
   <dd>Account:<dd><dt>40702978210000000495</dt>
   <dd>Bank:</dd><dt> Tinkoff Bank</dt>
   <dd>Bank SWIFT:</dd><dt>TICSRUMMXXX</dt>
 </dl> 
 <style>.tinkoffPayRow{display:block;margin:1%;width:160px;}</style>
<script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff.js"></script>
<form name="TinkoffPayForm" onsubmit="pay(this); return false;">
	<input class="tinkoffPayRow" type="hidden" name="terminalkey" value="1516632388055">
	<input class="tinkoffPayRow" type="hidden" name="frame" value="true">
	<input class="tinkoffPayRow" type="hidden" name="language" value="en">
    <input class="tinkoffPayRow" type="text" placeholder="Payment amount" name="amount" required>
    <input class="tinkoffPayRow" type="hidden" placeholder="Order number" name="order">
    <input class="tinkoffPayRow" type="hidden" placeholder="Order description" name="description">
    <input class="tinkoffPayRow" type="text" placeholder="Name" name="name" required >
    <input class="tinkoffPayRow" type="text" placeholder="E-mail" name="email" required>
    <input class="tinkoffPayRow" type="hidden" placeholder="Phone" name="phone">
    <input class="tinkoffPayRow" type="submit" value="Pay">
</form>
</div>
</div>
</div>
</div>
</section>
