<!-- Contact Section -->
<section id="payments">
<div class="container">
<div class="row">
<div class="col-lg-12 ">
<h2 align="center">Payments</h2>
<hr class="star-primary">
<p>The beneficiary of all payments is MESOL LLC – the official Summer school operator.</p>
<div class="col-md-7">
<p>To make a payment of the registration fee and for the ordered services please choose one on the following kinds of payment:</p>
 <ol>
   <li> Payment by an invoice – MESOL LLC will send you an invoice for the chosen services. All possible bank commissions, fees or other charges are to be fully paid by participant. If any commissions, fees or other charges are passed to MESOL LLC, participant will be required to compensate MESOL LLC for them.
</li>
   <li> Payment by credit card – for online payment please use the <a href="#portfolioModal-payment" class="portfolio-link" data-toggle="modal">
link - payment by credit card</a>. In case of payment by the credit card with foreign currency (not rubles) the sum will be convert to
Russian rubles at the rate of emitting bank (the bank which issued the credit card). Operation of withdrawing from the Customer's credit card is carrying out in rubles.
</li>
 </ol>
<p>The Organizing committee provides the opportunity to return the paid participation fee.
If you have paid a participation fee, but are not able to take part in the Summer school, please send a message to the e-
mail address stas@mesol.ru with the subject “Refund Name Surname” describing the reasons of the cancellation. The
Organizing committee will consider the appeal and in case of positive decision will make a refund.</p>
	<p><em>Please note:</em></p>
<ul>
	<li> All refund requests are accepted till March 31, 2019</li>
	<li>Processing fee and all commissions are not refundable</li>
</ul>
</div>
<div class="col-md-offset-2 col-md-3">
<p>Company details:</p>
<dl>
   <dd >Beneficiary:</dd><dt> MESOL LLC</dt>
   <dd>Account:<dd><dt>40702978210000000495</dt>
   <dd>Bank:</dd><dt> Tinkoff Bank</dt>
   <dd>Bank SWIFT:</dd><dt>TICSRUMMXXX</dt>
 </dl>
 <style>.tinkoffPayRow{display:block;margin:1%;width:60%;margin-left:20%}</style>
<script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff.js"></script>
</div>
</div>
</div>
</div>
</section>
<div class="portfolio-modal modal fade" id="portfolioModal-payment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Credit card payment </h2>
                            <hr class="star-primary">
                            <!--<img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">-->
				<form name="TinkoffPayForm" onsubmit="pay(this); return false;">
					<input class="tinkoffPayRow" type="hidden" name="terminalkey" value="??????????">
					<input class="tinkoffPayRow" type="hidden" name="frame" value="true">
					<input class="tinkoffPayRow" type="hidden" name="language" value="en">
					<input class="tinkoffPayRow" type="hidden" name="receipt" id="zakcopy" value="">
					<input class="tinkoffPayRow" id="summzak" name="amount" required="" type="text" placeholder="Amount" />
					<input class="tinkoffPayRow" id="usluga" name="description" required="" type="text" placeholder="Service"/>
					<input class="tinkoffPayRow" name="name" required="" type="text" placeholder="Name"/>
					<input class="tinkoffPayRow" name="email" required="" type="text" placeholder="E-mail" />
					<input class="tinkoffPayRow" name="phone" required="" type="text" placeholder="Phone" />
					<input class="tinkoffPayRow" type="submit" value="To pay" />
				</form><script type="text/javascript">var summzak = document.getElementById('summzak'), usluga = document.getElementById('usluga'); addEventListener('input', function(){ document.getElementById('zakcopy').value = '{"EmailCompany": "info@mesol.ru", "Taxation": "usn_income_outcome", "Items": [{"Name": "'+usluga.value+'","Price": '+(summzak.value*100)+',"Quantity": 1.00, "Amount": "'+(summzak.value*100)+'", "PaymentMethod": "full_prepayment", "PaymentObject": "service", "Tax": "none"}]}'});</script>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>.tinkoffPayRow{display:block;margin:0,01%;width:160px;}</style><script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>

 [:]
