
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Details</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-offset-1 col-lg-10 text-justify">
                    <p>3-MUGIS summer school is an annual event, which addresses relevant contemporary environmental consequences of urbanization and sustainable urban development. The summer school aims to provide a solid background and practical skills training in addressing impacts of urbanization through the monitoring and assessment of urban soils, design and maintenance of urban green infrastructure, and projects of sustainable urban development.</p>
                    <p>The summer school will be hosted in Moscow and will include 7 days of lectures, seminars, lab and field practical, art and design master classes as well as a rich social program. The practice will involve field survey and in situ measurement, working in research laboratories and landscape architecture studios. Experts with different background, including but not limited to, environmental conservation, soil science, climate change, civil engineering and policy-making, will be invited to give lectures or seminars. </p>
                    <p>Top-level researchers, landscape designers, policy makers and urban managers will share their experience in utilizing knowledge on urban soils to develop sustainable urban ecosystem. Participants will work in teams to propose solutions for specific problems, relevant for sustainable management of urban soils and green infrastructure. The teams will come together to solve the overarching problem with the final presentation of the obtained results at the mini-conference and closing ceremony.</p>
                    <p>The expected impact of the 3MUGIS summer school is very high. Target groups of the event include students, young researcher, scholars, urban planners and stakeholders.</p>
                    <hr class="star-primary">
                </div>
            </div>-->
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-3 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <i class="fa {{ post.img }} fa-5x" aria-hidden="true"></i> 
                            <div class="portfolio-item-text">{{ post.alt }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
