{% include css/bootstrap.min.css %}
{% include css/main.css %}
header.intro-back {
background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0.1),
        rgba(30,180,110,0.5)
), url(../../img/front/4.jpg);
}

.profile-picture {
  border-radius: 50%;
  margin-top: 0;
  border: 1px solid black;
  margin-bottom: 20px;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
