{% include css/bootstrap.min.css %}
{% include css/main.css %}
header.intro-back {
background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0.1),
        rgba(30,180,110,0.5)
);
}

#background-carousel{
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
}
.carousel,
.carousel-inner {
  width:100%;
  height:100%;
  z-index:0;
  overflow:hidden;
}
.item {
  width:100%;
  height:100%;
  background-position:center center;
  background-size:cover;
  z-index:0;
}

#content-wrapper {
  position:absolute;
  z-index:1 !important;
  min-width:100%;
  min-height:100%;
}
.well {
    opacity:0.85
}

.key-img {
    width: 100%;
}
.profile-picture {
  border-radius: 50%;
  margin-top: 0;
  border: 1px solid black;
  margin-bottom: 20px;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
