{% include css/bootstrap.min.css %}
{% include css/main.css %}
header.intro-back .col-lg-12 {
    background: linear-gradient(
        to bottom,
        rgba(30,180,110, 1),
        rgba(30,180,110,1) );
    margin-top: 420px;
    box-shadow: rgba(30,100,110,0.45) 0px 3px 15px;
}
header.intro-back container {
    width:100%
}
header {
        background:none !important
}
#background-carousel{
  position:absolute;
  width:100%;
  height:700px;
  z-index:-1;
}
.carousel,
.carousel-inner {
  width:100%;
  height:100%;
  z-index:0;
  overflow:hidden;
}
.item {
  width:100%;
  height:800px;
  background-position:center center;
  background-size:cover;
  z-index:0;
}

#content-wrapper {
  position:absolute;
  z-index:1 !important;
  min-width:100%;
  min-height:100%;
}
.well {
    opacity:0.85
}

.key-img {
    width: 100%;
}
.profile-picture {
  border-radius: 50%;
  margin-top: 0;
  border: 1px solid black;
  margin-bottom: 20px;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about {
  padding-top: 0px;
  padding-bottom: 0px;
}
