{% include css/bootstrap.min.css %}
{% include css/main.css %}
header.intro-back {
background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0),
        rgba(0,0,0, 100)
      ),url(../../img/intro-back.jpg)
}
